<div class="footer-container">
  <div class="footer-inner-container">
    <div class="housing-img-container">
      <img id="housing-img" src="../../assets/equal-op-housing.png" alt="">
    </div>
    <div class="footer-nav-container">
        <div class="footer-nav-items-container">
          <a class="nav-item" href="#/home">Home</a>
          <a class="nav-item" href="#/info">Info</a>
          <a class="nav-item" href="#/gallery">Gallery</a>
          <a class="nav-item" href="#/fp">Floor Plans</a>
          <a class="nav-item" href="#/map">Map</a>
          <a class="nav-item" href="#/mortage">Mortgage</a>
          <a class="nav-item" href="#/contact">Contact</a>
        </div>
        <div class="footer-signature-container">
          <p class="signature">Matias Designs</p>
        </div>
    </div>
  </div>
</div>
