<div class="agent-info-container">
  <div class="agent-info-inner-container">
    <div class="section-title-container">
      <h2 class="section-title">Meet the Agent</h2>
    </div>
    <div class="content-container">
      <div class="agent-photo-container">
          <img class="agent-photo" src="../../assets/realtor_pic.jpeg">
        </div>
        <div class="agent-details-container">
          <h2 class="agent-name">Magdiel Matias</h2>
          <div class="agent-details">
              <h4 class="agent-agency">Matias Realty</h4>
              <p class="agent-pitch">If you're in the market to buy or sell a home, you ve come to the right spot! Whatever your real estate needs may be, I can help you reach your goals with confidence.</p>
              <div class="agent-contacts-container">
                <ul class="agent-contact-list">
                  <li class="agent-contact-list-item"><span class="agent-contact-list-item-highlight">Office</span>555-555-5555</li>
                  <li class="agent-contact-list-item"><span class="agent-contact-list-item-highlight">Cellphone</span>555-555-5555</li>                   
                  <li class="agent-contact-list-item"><span class="agent-contact-list-item-highlight">Fax</span>555-555-5555</li>
                  <li class="agent-contact-list-item"><span class="agent-contact-list-item-highlight">Email</span>first.name@agent-website.com</li>
                  <li class="agent-contact-list-item"><span class="agent-contact-list-item-highlight">Web</span>https://agent-realty-site.com</li>
                </ul>
              </div>
              <div class="agent-social-links">
                <a href=""><img class="social-links" src="../../assets/social/fb-icon.png" alt=""></a>
                <a href=""><img class="social-links" src="../../assets/social/ig-icon.png" alt=""></a>
                <a href=""><img class="social-links" src="../../assets/social/linkedin-icon.png" alt=""></a>
                <a href=""><img class="social-links" src="../../assets/social/twitter-icon.png" alt=""></a>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>