<div class="nav-container">
  <div class="nav-inner-container">
      <div class="nav-items-container">
        <a class="nav-item" href="#/home">Home</a>
        <a class="nav-item" href="#/info">Info</a>
        <a class="nav-item" href="#/gallery">Gallery</a>
        <a class="nav-item" href="#/fp">Floor Plans</a>
        <a class="nav-item" href="#/map">Map</a>
        <a class="nav-item" href="#/mortage">Mortgage</a>
        <a class="nav-item" href="#/contact">Contact</a>
      </div>
  </div>
</div>
