<div class="property-details-container">
    <div class="property-details-inner-container">
        <div class="section-title-container">
            <h2 class="section-title">About this Home</h2>
        </div>
        <div class="property-blob-container">
          <p class="property-blob">{{propertyBlob}}</p>
        </div>
        <div class="details-container">
          <ul class="details-row">
            <li class="detail-item"><span class="detail-item-highlight">Type</span>{{type}}</li>
            <li class="detail-item"><span class="detail-item-highlight">Baths</span>{{baths}}</li>
            <li class="detail-item"><span class="detail-item-highlight">Heating/Cooling</span>{{heatingCooling}}</li>
            <li class="detail-item"><span class="detail-item-highlight">Address</span>{{address}} {{city}}, {{state}}</li>
            <li class="detail-item"><span class="detail-item-highlight">Square Footage</span>{{sqft}}</li>
            <li class="detail-item"><span class="detail-item-highlight">MLS Number</span>{{mlsNumber}}</li>
            <li class="detail-item"><span class="detail-item-highlight">Bedrooms</span>{{bedrooms}}</li>
            <li class="detail-item"><span class="detail-item-highlight">Year Built</span>{{yearBuilt}}</li>
            <li class="detail-item"><span class="detail-item-highlight">Lot Size</span>{{lotSize}} Acres</li>
          </ul>
        </div>
    </div>
</div>