<!--The content below is only a placeholder and can be replaced.-->
<div class="top-container">
    <app-navbar></app-navbar>
    <div class="jumbotron-container">
        <div class="property-title-container">
            <div class="property-title">
                <p class="title">154 Ipswich Road</p>
                <p class="title">Boxford, MA</p>
                <p class="property-details"><span class="price">$425,000</span></p>
                <p class="property-details">3 Bedrooms</p>
                <p class="property-details">2 Bath</p>
                <p class="property-details">2,884 sqft</p>
            </div>
        </div>
    </div>
    <app-property-details></app-property-details>
    <app-amenities></app-amenities>
    <app-property-map></app-property-map>
    <app-mortgage-calculator></app-mortgage-calculator>
    <app-agent-info></app-agent-info>
    <app-footer></app-footer>
</div>


<router-outlet></router-outlet>
