<div class="google-maps-container">
  <div class="section-title-container">
      <h2 class="section-title">Explore the Neighborhood</h2>
  </div>
  <div class="markers-filter-row">
    <button class="filter-btn" mat-raised-button>Home</button>
    <button class="filter-btn" mat-raised-button>Schools</button>
    <button class="filter-btn" mat-raised-button>Gas Stations</button>
    <button class="filter-btn" mat-raised-button>Banks</button>
    <button class="filter-btn" mat-raised-button>Restaurants</button>
    <button class="filter-btn" mat-raised-button>Parks</button>
    <button class="filter-btn" mat-raised-button>Gyms</button>
  </div>
  <div id="map"></div>
</div>

